import QtQuick
import QtQuick.Controls


Rectangle {
    id: app
    width: Theme.width
    height: Theme.height
    color: ColorPalette.background

    AppSettings { id: appSettings }
    Responsive { id: responsive }
}