import QtQuick
import QtCore

Settings {
    id: appSettings

    property var initSettings: {
        Qt.application.name = Theme.title
        Qt.application.domain = Theme.title + ".de"
        Qt.application.organization = Theme.title + "_org"
    }

    property bool isDarkMode: Theme.isDarkMode

    Component.onCompleted: {
        Theme.isDarkMode = isDarkMode;
    }
}
