import QtQuick
import QtCore

Settings {
    id: appSettings

    property var initSettings: {
        Qt.application.name = "{APP_PROJECTNAME}"
        Qt.application.domain = "{APP_PROJECTNAME}.de"
        Qt.application.organization = "{APP_PROJECTNAME}_org"
    }

    property bool isDarkMode: {APP_DARKMODE}

    Component.onCompleted: {
        ColorPalette.isDarkMode = isDarkMode;
    }
}
