pragma Singleton
import QtQuick
import QtQuick.Controls.Material

QtObject {
    id: qtObject
    property string title: "{APP_PROJECTNAME}"
    property int width: {APP_WIDTH}
    property int height: {APP_HEIGHT}

    property bool isDarkMode: {APP_DARKMODE}

    property color background: isDarkMode ? "#1e2227" : "#f7fafc"
    property color backgroundAlt: isDarkMode ? "#20252a" : "#f0f3f5"
    property color backgroundMuted: isDarkMode ? "#23282e" : "#eaedef"
    property color border: isDarkMode ? "#262c32" : "#e4e7e9"
    property color foreground: isDarkMode ? "#f7fafc" : "#1e2227"
    property color materialLightRed: "#EF9A9A"
    property color materialLightGreen: "#A5D6A7"
    property color materialLightBlue: "#90CAF9"
    property color materialLightPurple: "#CE93D8"
    property color materialLightYellow: "#FFE082"
    property color materialLightOrange: "#FFAB91"

    function rgba(clr, alpha = 0.25) {
        return Qt.rgba(clr.r, clr.g, clr.b, alpha);
    }
}
